<!DOCTYPE html>
<html ng-app=JsonResume>
<head>
	<title>Resume with JSON</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./resume.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="./resume.js"></script>
</head>

<body>
	<div class="container" id="main" ng-controller="resumeController">
		

		<div class="sect head">
			<div class="h1">{{resumeData.profile.name}}</div>
			<div class="subhead">{{resumeData.profile.email}}</div>
			<div class="subhead" ><i class="fa fa-home fa-lg">&nbsp;{{resumeData.profile.address}}</i> &nbsp; &nbsp; &nbsp; 
            					 <i class="fa fa-mobile fa-lg">&nbsp;{{resumeData.profile.phone}}</i>
            </div>
			<div class="button">
				<div class="interest" ng-repeat="interests in resumeData.profile.interests">
					{{interests.url}} {{interests.title}}
				</div>
			</div>
            <div class="subhead" >
            <a href="https://id.linkedin.com/in/fahmihamdan"><i class="fa fa-linkedin-square fa-2x"></i></a> &nbsp;&nbsp;
            <a href="http://github.com/Fahmihmdn"><i class="fa fa-github fa-2x"></i></a> &nbsp;&nbsp;
            <a href="http://fahmihamdan.com"><i class="fa fa-globe fa-2x"></i></a>
            </div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-graduation-cap">&nbsp;Education</i></div>
			<div class="education subsect" ng-repeat="edu in edus = (resumeData.education | lowercase)">
				<div class="h3">{{edu.degree}} - {{edu.major}}</div>
				<div class="h4 workplace button">{{edu.school}}&nbsp;</div>
				<div class="h4 workplace button"> - GPA: {{edu.gpa}} </div>
				<div class="h4 time">{{edu.year}}</div>
                
                <div class="courses" ng-if="edu.courses.length">
					<div class="subhead content">Kuala Lumpur - Malaysia.  In collaboration with State Polytechnic of Jakarta</div>
					<table class="courses-table table content"><tr>
					</tr></table>
				</div>
                
			</div>
            <div class="education subsect" ng-repeat="edu2 in edus2 = (resumeData.education2 | lowercase)">
				<div class="h3">{{edu2.degree2}} - {{edu2.major2}}</div>
				<div class="h4 workplace button">{{edu2.school2}}&nbsp;</div>
				<div class="h4 workplace button"> - GPA: {{edu2.gpa2}} </div>
				<div class="h4 time">{{edu2.year2}}</div>
                
                <div class="courses" ng-if="edu2.courses2.length">
					<div class="subhead content">Depok - Indonesia</div>
					<table class="courses-table table content"><tr>
					</tr></table>	
				</div> 
				<br ng-if="!edu2.courses2.length">
				
			</div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-briefcase">&nbsp;Experience</i></div>
			<div class="experience subsect" ng-repeat="exp in exps = (resumeData.experience | lowercase)">
				<div class="h3 title">{{exp.title}}</div>
				<div class="h4 workplace">{{exp.workplace}}</div>
				<div class="h4 time">{{exp.time}}</div>
				<div class="content"><ul>
					<li></li>
				</ul></div>
				<div class="links">
					<div class="subheading"><i class="fa fa-link">&nbsp;Link(s): </i></div>
					<div class="interest" ng-repeat="link in exp.links"><a href={{link.url}}>{{link.title}}</a></div>
				</div>
				<div class="technologies">
					<div class="subheading"><i class="fa fa-code-fork">&nbsp;Technology: </i></div>
					<div class="tech" ng-repeat="tech in exp.technologies">{{tech}}</div>
				</div>
			</div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-code">&nbsp;Projects</i></div>
			<div class="projects subsect" ng-repeat="project in projects = (resumeData.projects | lowercase)">
				<div class="h3 title">{{project.title}}</div>
				<div class="h4 time">{{project.time}}</div>
				
				<div class="content" >{{project.description}}</div>
				<div class="links" >
					<div class="subheading"><i class="fa fa-link">&nbsp;Link(s): </i></div>
					<div class="interest" ng-repeat="link in project.links" ><a href={{link.url}}>{{link.title}}</a></div>
				</div>
				<div class="technologies">
					<div class="subheading"><i class="fa fa-code-fork">&nbsp;Technology: </i></div>
					<div class="tech" ng-repeat="tech in project.technologies">{{tech}}</div>
				</div>
			</div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-cogs">&nbsp;Skills</i></div>
			<div class="skills subsect" ng-repeat="myskills in skills = (resumeData.skills | lowercase)">
				<div class="h3">{{myskills.title}}</div>
				<div class="technologies">
					<div class="tech h4" ng-repeat="skill in skills = (myskills.skills | lowercase)">
						{{skill}}</div>
				</div>
			</div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-users">&nbsp;Organization and Volunteer Activities</i></div>
			<div class="organization subsect" ng-repeat="orga in organization = (resumeData.organization | lowercase)">
				<div class="h3 title">{{orga.title}}</div>
				<div class="h4 time">{{orga.time}}</div>
				<div class="content">
                <ul>
					<li ng-repeat="desc in orga.description">{{desc}}</li>
				</ul>
					{{orga.details}}
				</div>
				<div class="links">
					<div class="subheading"><i class="fa fa-link">&nbsp;Link(s): </i></div>
					<div class="interest" ng-repeat="link in orga.links"><a href={{link.url}}>{{link.title}}</a></div>
				</div>
			</div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-certificate">&nbsp;Certifications</i></div>
			<div class="certification subsect" ng-repeat="cert in certification = (resumeData.certification | lowercase)">
				<div class="h3">{{cert.title}}</div>
				<div class="content flash">{{cert.details}}</div>
			</div>
		</div>
	</div>
</body>
</html>
