<!DOCTYPE html>
<html ng-app=JsonResume>
<head>
	<title>Resume with JSON</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./resume.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="./resume.js"></script>
</head>

<body>
	<div class="container" id="main" ng-controller="resumeController">
		

		<div class="sect head">
			<div class="h1"></div>
			<div class="subhead" ></div>
			<div class="subhead" ><i class="fa fa-home fa-2x"></i> <i class="fa fa-mobile fa-2x"></i></div>
			<div class="button">
				<div class="buttonlink" >
					
				</div>
			</div>
            <div class="subhead" ><i class="fa fa-linkedin-square"></i><i class="fa fa-github"></i><i class="fa fa-globe"></i></div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-graduation-cap">&nbsp;Education</i></div>
			<div class="education subsect">
				<div class="h3"></div>
				<div class="h4 workplace links"></div>
				<div class="h4 workplace links"> - GPA: </div>
				<div class="h4 time"></div>
                <div class="courses" ng-if="edu.courses.length">
					
				</div>
				<br ng-if="!edu.courses.length">
				
			</div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-briefcase">&nbsp;Experience</i></div>
			<div class="experience subsect">
				<div class="h3 title"></div>
				<div class="h4 workplace"></div>
				<div class="h4 time"></div>
				<div class="content"><ul>
					<li></li>
				</ul></div>
				<div class="links">
					<div class="subheading">Link(s): </div>
					<div class="link"></div>
				</div>
				<div class="technologies">
					<div class="subheading">Technology: </div>
					<div class="tech"></div>
				</div>
			</div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-code">&nbsp;Projects</i></div>
			<div class="projects subsect">
				<div class="h3 title"></div>
				<div class="h4 time"></div>
				<div class="blurb content" ></div>
				<div class="content" ></div>
				<div class="links" >
					<div class="subheading">Link(s): </div>
					<div class="link" ></div>
				</div>
				<div class="technologies">
					<div class="subheading">Technology: </div>
					<div class="tech" ></div>
				</div>
			</div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-cogs">&nbsp;Skills</i></div>
			<div class="skills subsect">
				<div class="h3"></div>
				<div class="technologies">
					<div class="tech h4">
						</div>
				</div>
			</div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-users">&nbsp;Organization and Volunteer Activities</i></div>
			<div class="organization subsect">
				<div class="h3 title"></div>
				<div class="h4 time"></div>
				<div class="content">
                <ul>
					<li></li>
				</ul>

				</div>
				<div class="links">
					<div class="subheading">Link(s): </div>
					<div class="link" ></div>
				</div>
			</div>
		</div>

		<div class="mainsect">
			<div class="h1"><i class="fa fa-certificate">&nbsp;Certifications</i></div>
			<div class="certification subsect">
				<div class="h3"></div>
				<div class="content blurb"></div>
			</div>
		</div>
	</div>
</body>
</html>
